:root {
    --light-blue-col: #14b9d5;
    --grey-col: #1d2124;
    --dark-grey-col: #1a1d20;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
   font-family: 'Open Sans', sans-serif;

}
.w100 {
    width: 100%;
}

.d-block {
    display: block !important;
}



.header-top {
    height: 70px;
    background-color: var(--grey-col);
}

.header-logo-bg {
    float: left;
    padding: 22px 22px;
    background-color: var(--dark-grey-col);
    display: inline-block;
}

.header-logo {
    width: 26px;
}

.header-logo img {
    width: 26px;
}

.header-nav {
    float: left;
    text-align: center;
    width: calc(100% - 140px);
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
}


.header-nav-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    display: inline-block;
    font-size: 12px;

}

.header-nav-link:not(:last-child) {
    margin-right: 40px;
}


.search-btn-bg {
    float: right;
    height: 70px;
    width: 70px;
    vertical-align: middle;
    background-color: var(--dark-grey-col);
}

.search-btn {
    border: none;
    height: 18px;
    width: 18px;
    margin: 26px 26px;
    background: transparent;
    background-image: url('../img/logo-search.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}




/* Start section */

.start-section {
    height: 380px;
    background-image: url('../img/header-bg.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}


.start-section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
}


.btn {
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: inline-block;
    padding: auto;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
    transition: all .4s ease-out;
    cursor: pointer;
}

.btn:hover {
    border-color: white;
}

.flex-h {
    display: flex;
    justify-content: center;
}

.flex-btn {
    display: flex;
    justify-content: center;
    margin-top: 44px;
}

.start-btn-left {
    background-color: #89ca62;
    width: 170px;
    height: 55px;
    line-height: 55px;
    margin: auto 10px;

}

.start-btn-right {
    background-color: var(--light-blue-col);
    height: 55px;
    width: 170px;
    line-height: 55px;
    margin: auto 10px;

}

.header-h {
    text-transform: uppercase;
    color: white;
    font-size: 21px;
    font-weight: normal;
    line-height: 21px;


}

/* Most Popular Posts */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    flex: 20%;
    max-width: 20%;
    padding: 0 15px;
}

.column img {
    vertical-align: middle;
    width: 100%;

}

.main-h {
    font-weight: 800;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.img-h {
    color: var(--light-blue-col);
    padding: 40px 0 38px;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 20%;
    max-width: 20%;
    padding: 0 15px;
}

.column img {
    vertical-align: middle;
    width: 100%;

}


.row-img-text {
    display: block;
    text-decoration: none;
    overflow: hidden;
    margin-bottom: 30px;
}

.row-img-text-desc {
    display: block;
    padding: 0 24px;
    background-color: white;
}


.secondary-h {
    font-size: 14px;
    font-weight: bold;
    color: black;
}


.row-text {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 24px;
}


.row-img-text:hover .row-img {
    transform: scale(1.1);
}

.row-img-text:hover .row-img-text-desc {
    transform: translateY(0);
}

.row-img-text:hover .row-text {
    color: #333333;
}


/* Second bg section */

.second-bg-section {
    height: 590px;
    background-image: url('../img/second-bg.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}


.second-bg-section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}


.second-bg-h{
    color: white;
}

.shape{
    width: 60px;
    height: 3px;
    background-color: var(--light-blue-col);
    margin: 55px auto;
}


.grid-clients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto 150px;
 }



.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-left: 15px;
    padding-right: 15px;


}


/* Most Popular */
.grid-popular{
    display: grid;
    grid-template-columns:  repeat(7, 1fr);
    grid-template-rows: 130px;

}


.pop-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}






/* hot news*/
.grid-hotels {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto auto auto auto);
    margin: -15px 150px 60px 150px;
    grid-template-areas:
    "a a a b"
    "c c d d"
    "e e f f"
    "h g g g";

}
.hotel img{

}
.hotel-img{
    width: 100%;
    height: auto;
    object-fit: contain;

}

.hotel{
    margin: 15px;
    text-align: right;

}
.hotel-text{
    margin: 15px;
}


.ordinary-text{
    font-size: 12px;
    color: black;

}

.pop-img-1{
    grid-area: a;
    display: grid;
    grid-template-columns:4fr 3fr;

}

.hotel-1-img{
    margin-top: auto;
    margin-bottom: auto;
}

.hotel-1-text{
    margin-top: auto;
    margin-bottom: auto;
}


.pop-img-2{
    grid-area: b;
    margin-top: auto;
    margin-bottom: auto;
}

.hotel-2-text{
    text-align: center;
}

.pop-img-3{
    grid-area: c;
}
.pop-img-4{
    grid-area: d;
}
.pop-img-5{
    grid-area: e;
}.pop-img-6{
     grid-area: f;

 }
.pop-img-7{
    grid-area: h;
    margin-top: auto;
    margin-bottom: auto;

}
.pop-img-8{
     grid-area: g;
     display: grid;
     grid-template-columns: 4fr 3fr;
 }







/*Footer */
.footer{
    padding: 20px 150px;
    background-color: var(--grey-col);
    color: white;

}
.footer-p{
    font-size: 10px;
    line-height: 16px;
}


.logo-lio-img img{
    width:25px;

}

.logo-lio-text img{
    width: 34px;

}

.grid-footer{
    display: grid;
    grid-template-columns: auto 25px 34px;
}


