* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('../img/background.png');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}


.container {

    margin: 0 auto;
    padding: 0 155px; !important;
}



.text{
    color: white;
    text-decoration: none; !important;
}



.header-logo-text-nav{
    padding: 44px 0 49px 0;
}
.header--logo{
    padding-top: 5px;
    float: left;
    width: fit-content;
}
.header--logo-img {
    width: 100%;
    height: 100%;

}

.header--logo-img:hover{
    background: url('../img/logo.png');
    width: 100%;
    height: 100%;
}
.text-logo{
    width: 145px;
    height: 46px;
}
.header--logo-text:hover{
   color: #f26522;
}

.header--logo-text{
    text-transform: uppercase;
    text-decoration: none;
    display: block;
   }

.primary-h{
    padding-left: 62px;
    font-weight: 900;
    font-size: 27px;
}

.secondary-h {
    padding-left: 62px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.1;
}


.header--contacts {
    float: right;
    text-align: right;
    margin-top: -40px;
}

.header--contacts-link{
    font-size: 19px;
    line-height: 1.2;
}






.photo-cards{

}

.photo-cards-row::after {
    content: "";
    clear: both;
    display: table;
}

.photo-cards-block{
    float: left;
    width: 33.33%;
    margin: 0 auto;

}

.
.photo-cards-link{

}
.photo-cards-link img{
    display: block;

}
.photo-cards-img{
    max-width: 310px;
}

.photo-cards-img.not:first-child{
    margin-left: 35px;
}

.photo-cards-img.not:last-child{
    margin-right: 35px;
}
.photo-cards-text{
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.photo-cards-text:hover{
    color: #f26522;
}

.footer-text{
    margin-top: 52px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: normal;
    text-decoration: none;
}
