:root {
    --green-color: #3cb878;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Lato', Courier, Verdana , sans-serif;
}

/*header*/

.header {
    position: fixed;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;

}

.header-logo-text {
    text-decoration: none;
    color: white;
    font-size: 18px;
    height: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.header-logo-text:hover {
    color: var(--green-color);
    text-decoration: none;
}

.header-icons-text {
    display: flex;
    justify-content: space-between;
}

.sprite {
    background-image: url(../img/spritesheet2.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 28px;
    transition: background-image 0.5s;
}

.sprite:hover {
    background-image: url(../img/spritesheet.png);
}

.sprite-calendar {
    width: 19px;
    height: 19px;
    background-position: -15px -15px;
}

.sprite-forum {
    width: 28px;
    height: 20px;
    background-position: -64px -15px;
}

.sprite-journey {
    width: 20px;
    height: 20px;
    background-position: -122px -15px;
}

.line {
    height: 20px;
}


.header-text {
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding-left: 30px;
    padding-top: 2px;
}

.header-text-link {
    text-decoration: none;
    color: var(--green-color);
}

.header-text-link:hover {
    color: var(--green-color);
    text-decoration: underline;
}


/*header*/

/*form*/

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.form {
    box-sizing: border-box;
    width: 444px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    padding: 30px 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-elements-header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.form-elements-header-h {
    font-size: 20px;
    color: #434343;
    float: left;
}

.form-elements-header-link {
    float: right;
    text-decoration: none;
    color: var(--green-color);
}

.form-elements-header-link:hover {
    text-decoration: underline;
    color: var(--green-color);
}

.fab{
    margin-right: 30px;
}

.fb {
    float: left;
    width: 156px;
    height: 45px;
    font-size: 16px;
    background-color: #264b96;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition:background-color 0.5s ;
}
.fb:hover{
    background-color:#1e3a74 ;
}
.google{
    border: none;
    border-radius: 7px;
    background-color: #c3412c;
    color: white;
    width: 156px;
    height: 45px;
    float: right;
    font-size: 16px;
    cursor: pointer;
    transition:background-color 0.5s ;
}
.google:hover{
    background-color: #a03524;
}

.big-line {
    margin-top: 8px;
    width: 140px;
    border: 1px solid #ddd;
    height: 0;
    display: inline-block;
}
.border {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.border-text{
    margin: 0 9px;
    font-size: 14px;
    color: rgba(132, 132, 132, 255);
}



.form-input-element{
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
}

.form-input-element:last-child{
    margin-bottom: 20px;
}

.form-input-element:focus {
    box-shadow: -1px 3px 6px 1px rgba(0, 0, 0, 0.46);
    border: none;
    transition: 0.5s;
}






.check {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.check-input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid #eaeaea;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-input:checked ~ .checkmark {
    background-color: #fff;
    border:1px solid #eaeaea;
}

.check-input:checked ~ .checkmark:after {
    display: block;
}

.check .checkmark:after {
    left: 4px;
    top: 2px;
    width: 5px;
    height: 8px;
    border: solid var(--green-color);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.account-btn {
    background-color: var(--green-color);
    width: 100%;
    height: 45px;
    text-align: center;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px ;
    margin-top: 25px;
    cursor: pointer;
    transition:background-color 0.5s;
}
.account-btn:hover{
    background-color: #268a56;
}




.terms{
    display: inline-block;
    vertical-align: -4px;
    font-size: 16px;
    color: rgba(67, 67, 67, 255);
}
.terms-link{
    text-decoration: none;
    color: var(--green-color);
}
.terms-link:hover{
    text-decoration: underline;
}

