@import "reset.sass"
$green: #acd8ad
$grey-text: #3f4043

body
    margin: 0
    padding: 0
    font-family: 'Lato', sans-serif
    //font-family: 'Montserrat', sans-serif

*
    box-sizing: border-box


.container
    width: 320px
    margin: auto

.header-content
    padding-left: 18px
    width: 100%
    height: 37px
    background-color: #373c3f
    color: white
    position: relative
    z-index: 1
    &::before
        content: ''
        position: absolute
        width: 100%
        height: 100%
        background-color: #373c3f
        top: 0
        left: 0
        z-index: -1

.header-row
    display: flex
    align-items: center
    justify-content: space-between

.header-mobile-heading,
.header-burger
    display: block

.header-logo
    display: none

.header-mobile-heading
    font-size: 12px
    font-family: 'Montserrat', sans-serif

.header-nav
    position: absolute
    top: 100%
    right: 0
    background-color: #fff
    width: 182px
    transition: all .3s ease
    z-index: -2
    transform: translateY(-101%)
    &.active
        transform: translateY(0)

.header-nav--link
    display: block
    text-decoration: none
    padding: 9.5px 14px
    border-bottom: 1px solid rgba(0,0,0,.2)
    color: #444444
    transition: all .3s ease
    font-size: 12px
    &:hover
        background-color: #f5f5f5

.header-burger
    height: 37px
    width: 41px
    border: none
    background-color: rgba(0,0,0,.3)
    position: relative

    &::before, &::after,
    span:before, span:after
        content: ''
        position: absolute
        height: 2px
        width: 40%
        background-color: white
        left: 30%
        transition: all .3s ease

    span:before, span:after
        top: 50%
        margin-top: -2px
    &::before
        top: 21px
    &::after
        bottom: 23px

    &.active
        &::before, &::after
            opacity: 0
        span:before
            transform: rotate(45deg)
        span:after
            transform: rotate(-45deg)

.big-banner
    width: 100%
    margin-bottom: 2px
    position: relative
    img
        width: 100%
        height: 100%

.big-banner-text
    position: absolute
    top: 0
    color: white
    margin: 18px auto auto 20px

    p
        font-size: 14px
        font-weight: bold
        letter-spacing: 0.01em

    p:first-child
        margin-bottom: 9px

    p:last-child
        margin-top: 10px
        font-size: 13px
        color: #a6d6e0
        letter-spacing: 0.05em

.banner-flex
    display: block

.banner
    width: 100%
    display: flex
    background-color: $green
    margin: 2px 0

.banner-img-text
    width: 251px
    height: 75px
    display: flex
    justify-content: center
    align-items: center

    img
        width: 100%
        height: 100%
        object-fit: cover
    p
        position: absolute
        color: white
        font-size: 20px
        font-weight: bold

.banner-gallery
    display: flex
    align-items: center
    margin-left: 25px
    font-family: monospace
    font-size: 20px
    color: white

.menu-flex
    display: block

.menu-flex-content
    width: 100%

.menu-logo
    display: none

.menu-section-content
    color: $grey-text

.menu-section-header
    margin: 20px 8px 14px
    display: flex
    justify-content: space-between
    align-items: center

.menu-section-header-text
    p:first-child
        text-transform: uppercase
        font-size: 20px
        font-weight: normal
        letter-spacing: -0.045em

    p:last-child
        font-size: 10px
        color: #cbccce
        font-weight: lighter

.menu-flex
    display: block

.menu-flex-content
    width: 100%

.bar-header
    text-transform: uppercase
    padding: 9px 17px
    font-size: 20px
    font-weight: normal

.bar-left-header
    background-color: $grey-text
    color: $green

.bar-right-header
    margin-top: 32px
    background-color: $green
    color: white

.menu-item-list
    margin: 0 17px 17px

.menu-list-header
    margin-top: 11px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 14px

.menu-list-header-text
    text-transform: uppercase
    font-size: 15px
    font-weight: normal
    letter-spacing: -0.028em

.menu-list-header-logo
    img
        width: 100%
        height: 100%

.m-l-1
    width: 24px

.m-l-2
    width: 13px
    margin-right: 6px

.m-l-3
    width: 30px
    margin-right: -3px
    margin-bottom: 3px
.m-l-4
    width: 21px
    margin-right: 3px
    margin-bottom: 3px

.menu-item-top
    display: flex
    justify-content: space-between
    font-size: 14px
    margin: 10px 0 8px

.menu-item-name
    font-weight: normal
    word-spacing: -0.2em

.menu-item-price
    font-weight: bold

.menu-item-ingredients
    font-size: 9px
    line-height: 1.02
    font-weight: normal

.footer
    background-color: $green
    padding: 10px 25px
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 49px

.footer-logo
    display: none

.footer-text
    color: white
    font-size: 12px
    font-family: 'Montserrat', sans-serif
    margin-left: auto
    margin-right: auto
    text-align: center
    display: flex
    flex-wrap: wrap
    line-height: 18px

.footer-text-h
    width: 100%



@media screen and (min-width: 321px) and (max-width: 640px)
    .container
        width: 100%

    .header-content
        padding-left: 38px
        height: 74px

    .header-mobile-heading
        font-size: 24px

    .header-nav
        width: 243px
        padding-bottom: 5px

    .header-nav--link
        font-size: 12px

    .header-burger
        height: 74px
        width: 82px
        &::before, &::after,
        span:before, span:after

            height: 4px
        &::before
            top: 26px
        &::after
            bottom: 26px


    .big-banner-text
        margin: 38px auto auto 28px

        p
            font-size: 32px
            letter-spacing: 0.002em

        p:first-child
            margin-bottom: 6px

        p:last-child
            margin-top: 20px
            font-size: 24px

    .banner
        width: 100%
        display: flex
        background-color: $green
        margin: 3px 0

    .banner-img-text
        width: 80%
        height: 150px
        p

            font-size: 36px

    .banner-gallery
        margin: auto
        font-size: 40px

    .menu-section-header-text
        p:first-child
            font-size: 40px
            margin-bottom: 3px

        p:last-child
            font-size: 20px

    .bar-header

        padding: 12px 23px
        font-size: 40px

    .bar-right-header
        margin-top: 40px

    .menu-item-list
        margin: 0 22px 22px

    .menu-list-header
        margin-top: 15px

        margin-bottom: 20px

    .menu-list-header-text
        font-size: 30px

    .m-l-1
        width: 28px

    .m-l-2
        width: 16px
        margin-right: 6px

    .m-l-3
        width: 36px
        margin-right: -4px
        margin-bottom: 4px
    .m-l-4
        width: 25px
        margin-right: 2px
        margin-bottom: 4px

    .menu-item-top
        font-size: 27px
        margin: 14px 0 12px

    .menu-item-ingredients
        font-size: 18px
        line-height: 1.2

    .footer
        background-color: $green
        padding: 20px 40px

    .footer-text
        font-size: 18px
        line-height: 1.5



@media screen and (min-width: 321px) and (max-width: 480px)

    .big-banner-text
        margin: 30px auto auto 24px
        p
            font-size: 20px
        p:first-child
            margin-bottom: 3px
        p:last-child
            margin-top: 12px
            font-size: 20px




@media screen and (min-width: 641px)

    .container
        width: 100%

    .header-mobile-heading,
    .header-burger
        display: none

    .header-content
        height: auto
        padding-left: 20px
        padding-right: 20px

    .header-logo
        width: 80px
        display: block
        margin: 4px 0
        img
            display: block
            width: 100%

    .header-nav
        position: relative
        top: 0
        right: 0
        background-color: #373c3f
        width: auto
        z-index: 1
        transform: none
        padding: 0

    .header-nav--link
        display: inline-block
        color: white
        text-decoration: none
        text-transform: uppercase
        font-size: 15px
        padding: 0
        &:not(:last-child)
            margin-right: 20px
        &:hover
            background-color: #373c3f



    .banner-gallery
        display: none

    .big-banner-text
        p
            font-size: 54px
        p:last-child
            margin-top: 50px
            font-size: 34px


    .banner-flex
        display: flex
        width: 100%

    .banner
        width: call(100%/3)

    .banner-img-text
        width: 100%
        height: auto
        position: relative
        img
            width: 100%
            height: 100%
        p
            font-size: 38px

    .menu-section-header-text
        p:first-child
            font-size: 34px
        p:last-child
            font-size: 20px

    .menu-logo
        display: block
        width: 120px
        height: auto
        img
            width: 100%
            height: 100%

    .menu-flex
        display: flex

    .menu-flex-content
        width: 50%

    .bar-right-header
        margin-top: 0

    .bar-header
        font-size: 34px


    .menu-list-header-text
        font-size: 26px

    .menu-item-top
        font-size: 24px

    .menu-item-ingredients
        font-size: 16px

    .footer
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0 20px


    .footer-logo
        display: block
        width: 80px
        margin: 4px 0
        img
            display: block
            width: 100%

    .footer-text
        display: inline-block
        font-size: 16px
        margin: 0



@media screen and (min-width: 641px) and (max-width: 865px)

    .header-nav--link
        font-size: 12px

    .banner-img-text
        p
            font-size: 30px

    .big-banner-text
        p
            font-size: 40px

        p:last-child
            margin-top: 35px
            font-size: 28px

    .menu-section-header-text
        p:first-child
            font-size: 28px
        p:last-child
            font-size: 20px

    .bar-header
        font-size: 23px

    .menu-list-header-text
        font-size: 19px

    .menu-item-top
        font-size: 18px

    .menu-item-ingredients
        font-size: 14px


@media screen and (min-width: 981px)
    .container
        max-width: 1200px

    .header-content
        padding-left: 30px
        padding-right: 30px

    .header-nav--link
        font-size: 15px

    .big-banner-text
        p
            font-size: 62px
        p:last-child
            font-size: 38px

    .banner-img-text
        p
            font-size: 43px

    .menu-section-header-text
        p:first-child
            font-size: 40px

    .bar-header
        font-size: 40px

    .menu-list-header-text
        font-size: 30px

    .menu-item-top
        font-size: 27px

    .menu-item-ingredients
        font-size: 18px

    .footer
        padding: 0 30px

    .footer-text
        font-size: 18px



@media screen and (min-width: 981px) and (max-width: 1010px)
    .bar-header
        font-size: 38px