* {box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

}
body{
    width: 100%;

}

.header {
    padding: 10px 20px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.menu {
    text-align: center;
    padding: 6px;
}

.menu li {
    display: inline-block;
    margin-left: 40px

}

.menu li a {
    font-weight: 500;
    font-size: small;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(22 160 134);
}

.image{
    margin-top: 50px;
    margin-bottom: -15px;


}

.image_center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.primary-h{
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.text {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
}

.button{
    background-color: rgb(22 160 134);
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

    margin-left:auto;
    margin-right:auto;
    display:block


}
.button:hover {
    background-color: rgb(11 74 62);
}


.footer{
    margin-top: 100px;
    text-align: right;
    display: block;
    margin-right: 40px;
}




