* {box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0 100px 30px;
    width: 100%;
    height: 100%;
    max-width: 1280px;

}



.logo-link{
    text-decoration: none;
    font-size: 58px;
    margin: 60px;
    display: block;
    width: fit-content;
}

.color-a{
     color: black;
 }

.color-b{
    color: rgb(75 202 255);
}



.header-nav{
    background-color: #35444f;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
}

.header-nav-link{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 0 43px;

}

.header-nav-link:hover{
    background-color: #222f3a;
    border-right: 1px solid white;
    border-left: 1px solid  white;
}





.left-menu{
    display: inline-block;
    float: left;
}

.left-menu-nav{

    border: 1px solid #555;
    text-align: left;
    width: 200px;
    position: relative;
}

.left-menu-nav-link{
    display: block;
    color: #000;
    padding: 15px 20px;
    text-decoration: none;
    text-align: left;
}

.left-menu-nav-link:hover{
    background-color: #dbdbdb;
}







.menu-img-text{
    padding-top: 50px;

}
.img-text {
    width: 830px;
    float: right;
}


.img-box{
    height: 540px;
    position: relative;
    vertical-align: middle;
}

.img-box-img{
    overflow: hidden;
    border: 1px solid black;
}


.img-box{
    overflow: hidden;
}
.img-box:hover .img{
    transform: scale(1.1);

}


.img{
    width: 100%;
    max-width: 320px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto;
    left: 0;
    top: 0;
    transition: all .4s ease-out
}
.text{
padding: 15px 30px ;
}

p{
    padding: 15px 0;
}


.menu-img-text::after {
    content: "";
    clear: both;
    display: table;
}


.footer{
    background-color: #b4b7ba;
    vertical-align: middle;
    line-height: 70px;
    padding: 0 30px;
    color: black;


}
.footer-menu{
    justify-content: space-between;
    display: inline-block;
    color: black;

}
.row{
    display: flex;
}

.footer-nav-link{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-right: 20px;


}

.footer-nav-link:hover{
    color: #3181a6;
    text-decoration: underline;
}

