* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #3a4965;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    color: #484848;
    font-family: 'arimobold';
    font-family: 'arimoregular';
}

table{
    margin: 22px auto;

}

th, td{
    vertical-align: middle;
    height: 70px;
}


tr:nth-child(even) {background: #e3e3e3}
tr:nth-child(odd) {background: #f2f2f2}
tr:first-child{
    background: white;
}

tr:nth-child(2) {
    background: white;
}


.bg-light-green{
    background-color: #89c331 ;
}

.bg-red{
    background-color: #f04a56 ;
}

.bg-green{

    background-color: #20807c ;
}


.head-lg{
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;

}

.head-md{
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
}

.head-sm{
    font-size: 13px;
    font-weight: bold;
    line-height: 13px;
}


.text-col-white{
    color: white;
}


.btn{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: none;
    font-size: 12px;
    display: inline-block;
    height: 50px;
    width: 194px;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    transition: all .1s ease-out;
    cursor: pointer;
    margin: 30px 44px;

}

.btn:hover{
    border-bottom: 10px solid rgba(0, 0, 0, 0.4) ;
}


.btn-black{
    margin-left: 60px; !important;
    margin-right: 60px; !important;
    background-color: #484848; !important;

}
.bg-black-btn{
    background-color: #dddddd;
}
.icon{
    color: #848484;
}



th, td{
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, 0.2) ;
    border-top: none;
    border-bottom: none;

}


.price td {
    height: 15px;
    border: none;
}

.price{
    font-size: 15px;
}


.big-price{
    font-size:2.5em;
    font-weight: bold;
}

.dot-price{
    text-align: left;
    font-weight: bold;
}

.price-month{
    transform: translateY(-3px);
}

