* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}

.fade {
    position: relative;
    width: 100%;
    min-height: 20vh;
    z-index: 1;
    background-color: black;
}

.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: yellow;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 300px;
    text-align: justify;
}

.crawl {
    position: relative;
    top: 9999px;
    transform-origin: 100% 100%;
    animation: crawl 30s linear;
    width: 95vw;
}

.crawl > .title {
    font-size: 90%;
    text-align: center;
}

.crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
}

@keyframes crawl {
    0% {
        top: 0;
        transform: rotateX(30deg)  translateZ(0);
    }
    100% {
        top: -9000px;
        transform: rotateX(30deg) translateZ(-4000px);
    }