* {
    box-sizing: border-box;
}

.tabs, .tabs-content {
    list-style: none;
}

.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.tabs {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;

}


.tabs-title {
    width: calc(100% / 6);
    transition: all .4s ease-out;
    list-style: none;
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}


.tabs-title.active {
    background-color:#937341 ;
    color: #23201D;
}

.tabs-content {
    margin-top: 50px;


}

.tabs-content--item {
    display: none;
    padding: 1px 0;
}

.tabs-content--item.active {
    display: block;
}